<link rel="stylesheet" href="css/signup.css">
<div id="container">
    <h1>Sign-up form</h1>
    <form action="">
        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="Enter Email id">
        <br><br>
        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="Enter Username">
        <br><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="Enter Password">
        <br><br><br>
        <button id="signup-btn" type="submit">SignUp</button>
    </form>
</div>