<link rel="stylesheet" href="css/signin.css">
<div id="container">
    <h1>Sign-In form</h1>
    <form action="/users/create-session" method="post">
        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="Enter Email id" required>
        <br><br>
        
        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="Enter Password" required>
        <br><br>
        <br>
        <button id="signin-btn" type="submit">signin</button>
    </form>

    <p>
        <a href="/users/auth/google">Google Sign-In/Sign-up</a>
    </p>
</div>